
body {
    font-family: "Noto Sans JP", sans-serif;
    line-height: 1.4;
    box-sizing: inline-box;
}
h1{
    font-size: 32px;
}
h2{
    font-size: 16px;
}
p{
    font-size: 14px;
    line-height: 1.8;
}
section{
    margin: 0 150px;
}

/*****..........line..........*****/
.custom-hr {
    position: relative;
    height: 0.5px; /* 中央部分の高さ */
    background-color: #000; /* 中央部分の色 */
    margin-top: 200px; 
}

.custom-hr::before,
.custom-hr::after {
    content: '';
    position: absolute;
    height: 2px; /* 両端の高さ */
    background-color: #000; /* 両端の色 */
    top: 50%; /* 要素の上端を親要素の高さの50%の位置に配置 */
    transform: translateY(-50%); /* 中央に揃えるための調整。要素の中心点を基準にして、50%分だけ上に移動 */
}
.custom-hr::before {
    left: 0; /* 左端 */
    width: 150px; /* 左端の幅 */
}
.custom-hr::after {
    right: 0; /* 右端 */
    width: 150px; /* 右端の幅 */
}

/*****..........header..........*****/
header {
    padding: 88px 0 45px 0;
    text-align: center;
}
nav {
    margin: 20px 0 35px 0;
}
nav a {
    margin: 0 20px;
    text-decoration: none;
    position: relative;
}
a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px; /* 下線の高さ */
    background: #000; /* 下線の色 */
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
a:hover::after {
    transform: scaleX(1);
}

.link-out{
    margin:1px 0 3px 0;
}
.hamburger-menu{
    display: none;
}


/*****..........galley..........*****/
.gallery-items{
    scroll-margin-top: 70px;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-template-rows: auto;
    grid-template-areas:
        "A B C"
        "D E E"
        "D E E"
        "F G H"
        "I J K"
        "L L M"
        "L L M"
        "N O O"
        "N O O"
        "P Q R"
        "S T U";

    gap: 31px;
}
.gallery-items .A {
    grid-area: A;
}
.gallery-items .B {
    grid-area: B;
}
.gallery-items .C {
    grid-area: C;
}
.gallery-items .D {
    grid-area: D;
}
.gallery-items .E {
    grid-area: E;
}
.gallery-items .F {
    grid-area: F;
}
.gallery-items .G {
    grid-area: G;
}
.gallery-items .H {
    grid-area: H;
}
.gallery-items .I {
    grid-area: I;
}
.gallery-items .J {
    grid-area: J;
}
.gallery-items .K {
    grid-area: K;
}
.gallery-items .L {
    grid-area: L;
}
.gallery-items .M {
    grid-area: M;
}
.gallery-items .N {
    grid-area: N;
}
.gallery-items .O {
    grid-area: O;
}
.gallery-items .P {
    grid-area: P;
}
.gallery-items .Q {
    grid-area: Q;
}
.gallery-items .R {
    grid-area: R;
}
.gallery-items .S {
    grid-area: S;
}
.gallery-items .T {
    grid-area: T;
}
.gallery-items .U {
    grid-area: U;
}

.gallery-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s;
}

.photo{
    position: relative;
}
.photo:hover img {
    filter: brightness(0.5);
}
.photo:hover figcaption{
    opacity: 1;
    font-weight: 350;
}
figcaption{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s;
}

/*****..........gallery popup..........*****/
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}
.popup:target {
    display: flex;
}
.popup-content {
    display: flex;
    background: white;
    padding: 80px;
    border-radius: 2px;
    position: relative;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 0.5s forwards;
    /* 初期状態では透明で、上から下にスライドイン */
    width: 90%; /* 幅を90%に設定 */
    height: 80%;
    max-width: 1100px; /* 最大幅を設定 */
}
/* 最終的に透明度を1にし、位置を元に戻す */
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.popup-content img{
    width: 50%;
    height: auto;
    object-fit: contain; /* アスペクト比を維持 */
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 垂直方向中央揃え */
    align-items: flex-start; 
    height: 100%; /* 高さを100%に設定 */
    width: 100%;
    padding-left: 100px;
}
.shop-btn {
    background-color: #000;
    border: #000 solid 1px;
    color:white;
    padding: 13px 75px;
    margin-top: 40px;
    display: inline-flex; /* インラインフレックスに設定 */
    align-items: center; /* 垂直方向に中央揃え */
    transition: background-color 0.3s, color 0.3s;
}
.info .link-out{
    height: 16px;
    width: 16px;
    filter: invert(1);
    padding-left: 2px;
    margin-bottom: -2px;
}
.shop-btn:hover{
    background-color: white;
    color: #000;
}
.shop-btn:hover img{ 
    
    transition: filter 0.3s; /* フィルターの変更にアニメーションを追加 */
}
.shop-btn:hover img {
    filter: invert(0); /* ホバー時にアイコンの色を反転 */
}
    
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}     

/*****..........about..........*****/
.about-exhibition{
    margin-top: 200px; 
    scroll-margin-top: 70px;
    display: flex;
    width: 100%;
}
.about-exhibition-text{
    padding-left: 77px;
}
.about-exhibition-text h2{
    margin: 19px 0;
}
.exhibition {
    margin-top: 107px;
    scroll-margin-top: 70px;
}

/*****..........contact..........*****/
.contact{
    margin: 200px 150px;
    scroll-margin-top: 70px;
}
.contact h2{
    margin-bottom: 14px;
}
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #9b9b9b;
    font-size: 14px;
    font-weight: 350;
}
.contact-form-btn{
    text-align: center;
}
.contact-form-btn button {
    font-size: 14px;
    padding: 13px 65px;
    margin: 45px 20px 0 20px;
    background-color: #000;
    color: #fff;
    border: #000 solid 1px;
    transition: background-color 0.3s, color 0.3s;
}
.contact-form-btn button:hover{
    background-color: white;
    color: #000;
}

/*****..........footer..........*****/

footer {
    padding: 0 150px 5px 150px;
    width: 100%;
}
.footer-top{
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
}

.footer-logo1{
    font-size: 24px;
}
.footer-logo2{
    font-size: 12px;
}

footer nav a{
    margin: 0 30px 0 0;
}
.copy{
    text-align: center;
    font-size: 12px;
}

@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
    section{
        margin: 0 80px;
    }

    .custom-hr::before {
        left: 0; /* 左端 */
        width: 80px; /* 左端の幅 */
    }
    .custom-hr::after {
        right: 0; /* 右端 */
        width: 80px; /* 右端の幅 */
    }

    .contact{
        margin: 200px 50px;
    }

    footer{
        padding: 0 80px 5px 80px;
    }
}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    section{
        margin: 0 20px;
    }

    /*...header...*/
    header nav{
        display: none;
    }
    header{
        padding: 263px 0 143px 0;
    }
    header img{
        margin-top: 77px;
    }

    /*...hamburger menu...*/
    .hamburger-menu{
        display: block;
    }
    .menu-btn {
        position: fixed;
        top: 10px;
        right: 10px;
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        z-index: 90;
    }
    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
        display: block;
        height: 2px;
        width: 22px;
        border-radius: 2px;
        background-color: #000;
        position: absolute;
    }
    .menu-btn span:before {
        bottom: 6px;
    }
    .menu-btn span:after {
        top: 6px;
    }

    #menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
    }
    #menu-btn-check:checked ~ .menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    #menu-btn-check {
        display: none;
    }

    .menu-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 80;
        background-color: white;
    }
    .menu-content ul {
        padding: 70px 25px 0;
    }
    .menu-content ul li {
        border-bottom: solid 1px #000;
    }
    .menu-content ul li a {
        display: block;
        width: 100%;
        font-size: 15px;
        box-sizing: border-box;
        color:#000;
        padding: 9px 15px 10px 0;
        position: relative;
    }
    .menu-content ul li a::before {
        content: "";
        width: 7px;
        height: 7px;
        border-top: solid 1px #000;
        border-right: solid 1px #000;
        transform: rotate(45deg);
        position: absolute;
        right: 11px;
        top: 16px;
    }
    .menu-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;/*leftの値を変更してメニューを画面外へ*/
        z-index: 80;
        background-color: white;
        transition: all 0.5s;/*アニメーション設定*/
    }
    #menu-btn-check:checked ~ .menu-content {
        left: 0;/*メニューを画面内へ*/
    }

    /*.....line.....*/
    .custom-hr::before {
        left: 0; /* 左端 */
        width: 20px; /* 左端の幅 */
    }
    .custom-hr::after {
        right: 0; /* 右端 */
        width: 20px; /* 右端の幅 */
    }

    /*.....gallery.....*/
    .gallery-items{
        display: grid;
        grid-template-columns: 48% 48% ;
        grid-template-rows: auto;
        grid-template-areas:

            "A B"
            "C C"
            "C C"
            "D E"
            "F G"
            "H I"
            "J K"
            "L M"
            "N O"
            "P Q"
            "R R"
            "R R"
            "S T"
            "U U"
            "U U";
    
        gap: 13px;
    }

    /*.....gallery popup.....*/
    
    .popup-content {
        display: block;
        padding: 20% 10%;
    }
    
    .popup-content img{
        width: 100%;
        height: auto;
        max-height: 300px;
    }
    
    .info {
        display: block;
        text-align: center;
        padding-left: 0;
        height: auto;

    }
    .info h2{
        margin-top: 30px;
    }
    .shop-btn{
        margin-top: 100px;
    }

    /*.....about.....*/
    .about-exhibition{
        display: block;
    }
    .icon{
        display: block;
        margin: 0 auto;
    }
    .about-exhibition-text{
        padding-left:0;
    }
    .about  h2{
        text-align: center;
        margin: 36px 0;
    }

    /*.....contact.....*/
    .contact{
        margin: 200px 0px;
    }

    /*.....contact.....*/
    footer{
        padding: 0 20px 3px 20px;
    }
    footer nav a{
        margin-right: 11px;
    }
}